h1 {
    color:white;
    font-size:45px;
}

h1:hover{
    color:violet;
}


body {
    text-align:center;
    background-image:url("https://i.pinimg.com/originals/f6/82/40/f68240bd763cdbdca96b7e52d44626c5.jpg");
}

img {
    width:1200px;
    border-radius:30px;
}

.t {
    width:400px;
}


img:hover {
    box-shadow:20px 30px 40px rgb(50,50,50);
}

p {
    color:green;
    font-size:25px;
}

.two {
    font-size:35px;
}

.my {
  text-decoration: none;
  display: inline-block;
  width: 240px;
  height: 60px;
  line-height: 60px;
  border-radius: 45px;
  margin: 10px 20px;
  font-family: 'Montserrat', sans-serif;
  font-size: 8px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #524f4e;
  background: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
  transition: .3s;
}
.my:hover {
  background: #28b74c;
  box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
  color:#f0f0f0;
  transition: .3s;
}
.top-menu {
    background-color: #FFFFF;
    padding: 10px;
    border-bottom: 1px solid #cccccc;
}

.menu-main {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.edit {
    text-decoration: none;
    color: black;
}
